<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjh.wjhemall.manage.mapper.PmsBaseAttrInfoMapper">

    <select id="selectByValueIdString" resultMap="selectByValueIdStringMap">
        SELECT
            ba.*,ba.id as ba_id ,bav.*,bav.id as bav_id
        FROM
            pms_base_attr_info ba,
            pms_base_attr_value bav
        WHERE
            ba.id = bav.attr_id
        AND bav.id in (${valueIdStr})
    </select>

    <resultMap id="selectByValueIdStringMap" type="com.wjh.wjhemall.bean.PmsBaseAttrInfo" autoMapping="true">
        <result column="ba_id" property="id"></result>
        <collection property="attrValueList" ofType="com.wjh.wjhemall.bean.PmsBaseAttrValue" autoMapping="true">
            <result column="bav_id" property="id"></result>
        </collection>
    </resultMap>
</mapper>